* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    width: 99.5%;
    height: 200px;
    border: 1px solid yellow;
    background-color: yellow;   
    float: left;
    display: block;
}

article {
    width: 75%;
    height: 570px;
    border: 0.5px solid greenyellow;
    background-color: greenyellow;
    float: left;
    display: block;
}

aside {
    width: 24.5%;
    height: 570px;
    border: 0.5px solid pink;
    background-color: pink;
    float: left;
    display: block;
}

footer {
    width: 99.5%;
    height: 200px;
    border: 1px solid lightgray;
    background-color: lightgray;
    float: left;
    display: block;
}


.li2 {
    margin-left: 7%;
}


#sectionfooter {
    width: 20%;
    height: 100px;
    border: 1px solid black;
    border-radius: 5%;
    background-color: silver;
    margin-left: 5%;
}

.imgremio {
    width: 3%
}

.imgremio2 {
    width: 6%;
    margin-left: 800px;
    
}
